body {
  background-color: orange;
  font-family: Roboto;
  margin: 0px;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

button {
  font-family: Roboto;
}

.row-item {
  border: 1px solid black; 
  flex: 1;
  box-sizing: border-box;
}

.grids-container {
  background-color: lightgray;
  display: flex;
  width: 960px;
  height: 960px;
}

.grid-col {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.size-button-container {
  background-color: lightgray;
}
