body {
  margin: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-item {
  border: 1px solid black; 
  flex: 1;
  box-sizing: border-box;
}

.grids-container {
  display: flex;
  width: 960px;
  height: 960px;
}

.grid-col {
  display: flex;
  flex-direction: column;
  flex: 1;
}
